*,
body,
html {
    background-color: #B9B4C7;
    margin: 0;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.header {
    font-size: xx-large;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #352F44;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    background-color: #352F44;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0F0F0F;
}

.active {
    background-color: #5C5470;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.introduction {
    font-size: large;
}

.intro-img {
    margin-right: 1%;
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
}

.intro-text {
    text-indent: 0.1%;
    font-size: large;
    text-align: left;
}